@page
@{
    var title = "WindowService自动运行";
    ViewBag.Title = title;
}

<article class="blog-post">
    <h2 class="blog-post-title">@title</h2>
    <p class="blog-post-meta mt-1">
        <span style="color: cornflowerblue;">
            当前时间: <i class="bi-alarm"></i>
            @DateTime.Now
        </span>
    </p>

    <div class="card mt-3">
        <div class="card-body">
            <p>todo</p>
        </div>
    </div>
</article>